@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.cloud-tea{
    background: url('../public/images/menu/tra_xanh_bg.webp');
    height: 750px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
}

button{
    border: none;
    font-size: 16px;
    font-weight:600;
    border-radius: 8px;
    padding: 0 15px;
    text-align: center;
    line-height: 40px;
}

.slider-store .ant-carousel{
    width: 100% !important;
}

.blog_home_blogtitle {
    font-size: 24px;
    margin: 24px 0;
    margin-left: 16px;
    padding-left: 12px;
    border-left: 4px solid #E57905;
    font-weight: 600;
}

.blog_item {
    flex: 0 0 calc(33.333% - 30px);
    overflow: hidden;
    margin: 0 15px 0;
    min-height: 342px;
}

.blog_item .article_item_image {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: #191919;
    transition: .5s;
}

.blog_item .article_item_info {
    flex-grow: 1;
    background: #FFF7E6 50%;
    padding: 16px 0;
}
.blog_item_img{
    transition-duration: 0.3s;
    transform: scale(1);
    cursor: pointer;
}
.blog_item_img:hover{
    transform: scale(1.1);
}
.blog_item .ant-image{
    border-radius: 0.75rem;
}
.blog_item .article_item_info h3 {
    overflow: hidden;
    font-size: 18px;
    margin: 8px 0;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    height: 25px;
    font-weight: 600;
}
p {
    margin-bottom: 10px;
    line-height: 24px;
}